**/**/target/**
GitHubRepositoryApp/.classpath
GitHubRepositoryApp/GitHubRepositoryApp.iml
GitHubRepositoryApp/.idea
GitHubRepositoryApp/.factorypath
GitHubRepositoryApp/.project
GitHubRepositoryApp/.settings/
GitHubRepositoryApp/GitHubRepositoryApp.iml