<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
  <style>
table td{
vertical-align:top;
border:solid 1px #888;
padding:10px;
}

    </style>
</head>
<body>
<div class="container my-2">
  <div class="card">
    <div class="card-body">
<h1>Error !!! Please Contact Technical Team</h1>
<table>
  <tr>
    <td>Error Code</td>
    <td th:text="${error.errorCode}"/>
  </tr>
  <tr>
    <td>Error Message</td>
    <td th:text="${error.errorMessage}"/>
  </tr>
  <tr>
    <td>Error Level</td>
    <td th:text="${error.errorLevel}"/>
  </tr>
  <tr>
    <td>Error Type</td>
    <td th:text="${error.errorType}"/>
  </tr>
  <tr>
    <td>Error Documentation Url</td>
    <td th:text="${error.documentationUrl}"/>
  </tr>
  <tr>
    <td>Error Tips</td>
    <td th:text="${error.tips}"/>
  </tr>
</table>
    </div>
  </div>
</div>
</body>
</html>