<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Update User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <h2><a class="navbar-brand" href="#">Home</a></h2>

</nav>
<div class="container my-5">
  <h4> Repository :
   [<b><div   th:utext="${reponame}" th:remove="tag"></div></b>]
    User :
 [ <b>  <div   th:utext="${user}" th:remove="tag"></div></b>]

  </h4>
  <div class="card">
    <div class="card-body">
      <div class="col-md-10">
        <div th:if="${errMsg != null}"
             th:utext="xxxxxx" th:remove="tag">
        </div>
        <div th:if="${repositoryActivities != null}">
          <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
              <th>Activity</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="repositoryActivitie : ${repositoryActivities.repositoryActivities}">
              <td th:text="${repositoryActivitie.activity}"></td>
              <td th:text="${repositoryActivitie.status}"></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>